@charset "utf-8";
/* CSS Document */

*{
	margin: 0;
	padding: 0;
}
html body{
	font-size: 12px;
	width: 100%;
}
a{
	text-decoration: none;
}
a:hover{
	color: red;
}
a:hover img{
	box-shadow:0 0 5px #333;
}
ul li{
	list-style: none;
}


/*main1*/
.main1{
	height: 511px;
	width: 1220px;
	margin: 0 auto;
	margin-bottom: 15px;
	position: relative;
}
.main11{
	width: 238px;
	height: 511px;
	float: left;
	background: #000;
}
.main11 div{
	width:218px;
	height: 42px;
	padding: 10px;
	border-bottom: 1px dashed #fff;
}



.main11 .div_last{
	border-bottom: none;
}
.main11 div img{
	margin-right: 12px;
}
.main11 div p .img_jiao{
	margin-left: 118px;
	margin-right: 0;
}
.main11 div a{
	color:#fff;
	line-height: 20px;
	
}
.main11 div:hover{
	background: #fff;
	
}
.main11 div:hover a{
	color: #666;	
}
.main11 div:hover .p1 a{
	color: #f00;
}

.main12{
	width:549px;
	height: 511px;
	float: left;
}

/*隐藏的div*/
.box{
	display: none;
	width: 690px;
	height:461px ;
	position: absolute;
	left: 237px;
}
.hide-div1{
	background: #fff;
	display: none;
	width: 690px;
	height:461px ;
	padding: 25px;	

	
}
.hide-div1 p{
	padding-left:5px ;
	border-left: 2px solid #E00003;
	
}
.hide-div1 p span{
	color: #E00003;
	font-weight: bold;
}
.hide-div1 p a{
	margin-left:550px ;
	color: #999;
}
.hide-div1 .ul-img{
	width:630px ;
	height: 80px;
	margin: 10px 0;
	border: 1px dashed #ccc;
}
.hide-div1 .ul-img li {
	display: block;
	height: 80px;
	width: 104px;
	float: left;
	border-right: 1px dashed #ccc;
}
.hide-div1 .ul-img li img{
	width: 104px;
	height: 80px;
}
.hide-div1 .ul-img .li-last{
	border: none;
}
.float-L{
	width: 330px;
	height: 90px;
	float: left;
	border-bottom: 1px dashed #ccc;
	margin:5px;
}
.float-L p{
	margin: 10px 0;
}
.float-L ul li{
	float: left;
	line-height: 24px;
	margin: 0 5px;
}
.float-L ul li a{
	color: #777;
}
.float-L ul li a:hover{
	color:red;
}








/*两个轮播图*/
/*第一个轮播图*/
.big-move{
	widows: 549px;
	height: 287px;
	background: red;
}
.banner { position: relative; overflow: hidden;}
.banner li { list-style: none; }
.banner ul li { float: left; font-size:0;}
.banner ul li a{font-size: 0px;}

/*第二个轮播图*/
.small-move{
	widows: 549px;
	height: 224px;
	background: yellowgreen;
}


.main13{
	width:195px;
	height: 511px;
	float: left;
}
.main14{
	width:236px;
	height: 509px;
	float: left;
	border:1px solid #ddd;
}
.main14-1{
	width: 236px;
	height: 82px;
	background: #e7e7e9;
}
.main14-1 .div1{
	margin: 15px;
	float: left;
}
.main14-1 .div2{
	float: left;
	padding-top: 25px;	
}
.main14-1 .div2 p{
	line-height: 18px;
}
.main14-2{
	width: 236px;
	height: 40px;
	overflow: hidden;
	border-bottom:1px solid #ddd;
}
.main14 .main14-2 p{
	display: inline-block;
	width: 117px;
	height: 40px;
	text-align: center;
	line-height: 40px;	
}

.main14-2 .p1{
	border-right:1px solid #ddd ;
}
.main14-3{
	width: 236px;
	height: 158px;
}

.main14-3 div a{
	display: inline-block;
	width: 74px;
	height:29px;
	line-height: 29px;
	text-align: center;
	font-weight: bold;
	color: #000;
	background: #f5f5f5;
	border-top: 1px solid #fff;
}
.main14-3 div a:hover{
	background: #fff;
	border-top: 1px solid red;
}
.main14-3 ul{
	padding-top:5px ;
}
.main14-3 ul li{
	line-height: 22px;
}
.main14-3 ul li a{
	color:#666;
}
.main14-3 ul li a:hover{
	color:red;
}
.main14-3 ul .l-1 a{
	color:red;
}
.main14-3 ul li img{
	padding: 0 7px 0 20px;
}

.main14-4{
	width: 236px;
	height: 50px;
	padding: 10px 0 10px 0;
	border-top:1px solid #ddd ;
	border-bottom:1px solid #ddd ;
}
.main14-4 div{
	width:78px;
	height: 48px;
	float: left;
	border-right:1px solid #e7e7e7 ;
}
.main14-4 .main14-4-last{
	border:none;
}
.main14-4 div a img{
	margin: 0 23px;
}
.main14-4 div a span{
	color: #000;
	margin-left: 23px;
}
.main14-4 div a:hover span{
	color: red;
}
.main14-5{
	width: 236px;
	height: 154px;
	padding-left:20px ;
}
.main14-5 h3{
	line-height: 44px;
}
.main14-5 p{
	line-height: 24px;
	color: #666;
}

/*主要楼层区*/
.main2{
	width: 1220px;	
	height: 4648px;
	margin: 0 auto;
}
.goods{
	width: 1220px;	
	height: 530px;
	margin-bottom:50px;
}
.main2 .goods .p1{
	width: 1220px;
	height: 35px;
	border-bottom: 2px solid #b3191b;
}
.p1 .a1{
	display: inline-block;
	width: 50px;
	height: 35px;
	background: #c81622;
	color: #fff;
	text-align: center;
	line-height: 35px;
}
.p1 .a2 .span1{
	font-size: 17px;
	color: #c81622;
}
.p1 .a2 .span2{
	line-height: 38px;
	color: #666;
	margin:0 5px;
}
.main2 .main2-left{
	float: left;
	width: 213px;
	height: 493px;
	border:1px solid #e7e7e7;
	border-top:none;
}
.main2-left .change-div{
	width: 213px;
	height: 164px;
	border-bottom: 1px solid #ccc;
	opacity: 1;	
}
.change-ul{
	width: 60px;
	height: 151px;
	padding:13px 0 0 15px;
	overflow: hidden;
	
}
.change-ul li{
	float: left;
	width: 55px;
	line-height:22px ;
	
}
.change-ul li a{
	color: #666;
}
.change-ul li a:hover{
	color: red;
}
.change-ul .first-li{
	line-height:24px;
	color: #c81623;
	font-size: 14px;
	font-weight: bold;
}

.main2 .main2-middle{
	float: left;
	width: 757px;
	height: 493px;
	border:1px solid #e7e7e7;
	border-top:none;
}
.main2-middle div{
	float: left;
	width: 174px;
	height: 232px;
	padding:7px ;
	border-bottom: 1px solid #e7e7e7;
	border-right: 1px solid #e7e7e7;
}
.main2-middle .top{
	border-top:1px solid #fff;
}
.main2-middle .left{
	border-left:none;
}
.main2-middle .bottom{
	border-bottom:none;
}
.main2-middle .right{
	border-right:none;
}
.main2-middle div .a1{
	color: #000;
	line-height: 32px;
}
.main2-middle div .a1:hover{
	color: #f00;
}
.main2-middle div p{
	color:  #b3191b;
	line-height:16px;
}
.main2-middle div p span{
	display: inline-block;
	width: 47px;
	height: 16px;
	background: #b3191b;
	color: #fff;
	text-align: center;
	line-height: 16px;
}
.main2 .main2-right{
	float: left;
	width: 246px;
	height: 493px;
}

.main3{	
	width: 1218px;
	height: 507px;
	border: 1px solid #ddd;
	border-top: 2px solid #d61e00;
	margin: 0 auto;
	
}
.main3-left{
	width: 376px;
	height: 507px;
	float: left;
	border-right: 1px dashed #ddd;
}
.main3-left .main3-top{
	width: 352px;
	height: 40px;
	line-height: 40px;
	border-bottom: 1px solid #ddd;
	margin: 0 auto;
}
.main3-left .main3-top .span1{
	font-size: 14px;
	font-weight: bold;
	margin-right: 242px;
}
.main3-left .main3-top a .span2{
	color: #000;
	margin-right: 6px;
}
.main3-left-1{
	width:370px ;
	height:260px ;
	background: red;
	margin: 26px auto 22px;
	overflow: hidden;
}
.main3-left-1 img{
	width: 100%;
	height: 260px;
}
.banner { position: relative; overflow: hidden;}
.banner li { list-style: none; }
.banner ul li { float: left; font-size:0;}
.banner ul li a{font-size: 0px;}


.main3-left .main3-left-ul{
	padding-left: 16px;
}
.main3-left .main3-left-ul li{
	line-height: 24px;
	background: url(../images/images/main3-1_07.png) no-repeat 0 8px;
	padding-left: 10px;
}
.main3-left .main3-left-ul li a{
	color: #666;
}
.main3-left .main3-left-ul li a:hover{
	color: #f00;
}
.main3-middle{
	width: 426px;
	height: 507px;
	float: left;
	border-right: 1px dashed #ddd;
}
.main3-middle .main3-top{
	width: 402px;
	height: 40px;
	line-height: 40px;
	border-bottom: 1px solid #ddd;
	margin: 0 auto;
}
.main3-middle .main3-top .span1{
	font-size: 14px;
	font-weight: bold;
	margin-right: 260px;
}
.main3-middle .main3-top a .span2{
	color: #000;
	margin-right: 6px;
}
.main3-middle .div1{
	width:402px ;
	height: 135px;
	border-bottom: 1px dashed #ddd;
	margin: 0 auto 15px;
}
.div1-L{
	width:110px ;
	height: 114px;
	padding: 10px 0 0 25px;
	float: left;
}
.div1-R{
	width: 262px;
	height: 120px;
	float: left;
}
.div1-R h3{
	line-height: 40px;
}
.div1-R h3 a{
	color: #666;
}
.div1-R p{
	line-height: 18px;
}
.div1-R p a{
	color: #7398ff;
}

.main3-right{
	width: 414px;
	height: 507px;
	float: left;
}
.main3-right .main3-top{
	width: 389px;
	height: 40px;
	line-height: 40px;
	border-bottom: 1px solid #ddd;
	margin: 0 auto;
}
.main3-right .main3-top .span1{
	font-size: 14px;
	font-weight: bold;
	margin-right: 279px;
}
.main3-right .main3-top a .span2{
	color: #000;
	margin-right: 6px;
}
.main3-right .p11{
	text-indent: 2em;
	line-height: 24px;
	padding: 15px 12px 0;
}
.main3-right .p12{
	padding-bottom: 12px;	
}
.main3-right div{
	width: 330px;
	height: 207px;
	margin: 0 auto;
	border-top: 1px dashed #ddd;
	padding: 15px 30px 0;
}
.main3-right .main3-right1{
	line-height: 28px;
	padding-left:298px ;
	color: #666;
}
.main3-right .main3-right1:hover{
	color: red;
}


.main4{	
	width: 1220px;
	height: 136px;
	margin: 0 auto;
	
	margin-top:33px;
	margin-bottom: 20px;
}
.main4-p{
	line-height: 34px;
}
.main4-ul{
	width:1188px ;
	height: 82px;
	padding: 9px 17px;
	border: 1px solid #ccc;
	line-height: 25px;
}
.main4-ul li{
	float: left;
	background: url(../images/images/main4-1_03.png) no-repeat center right;
}
.main4-ul li span{
	display: inline-block;
	padding: 0 7px 0 10px;
}
.main4-ul li span a{
	color: #666;
}
.main4-ul li span a:hover{
	color: red;
}

