@charset "utf-8";
/* CSS Document */
*{margin:0;padding:0;}
a{text-decoration:none;}
ul li{list-style:none;}



/*top*/
.top{width:1215px;height:35px;background:#fafafa;border-bottom:1px solid #dbdbdb;}
.p1{width:103px;height:34px;border:1px solid #f0f0f0;border-bottom:none;background:#fff;margin-left:14px;font-size:12px;color:#333;line-height:34px;text-align:center;float:left;}
.p1 a{color:#0066cc;}
.p2{width:92px;height:35px;float:left;font-size:12px;color:#333;line-height:34px;margin-left:13px;}
.p2 select{font-weight:bold;}
.che{float:left;margin-top:8px;}
.top ul{float:right;}
.top ul li{float:left;font-size:12px;line-height:34px;}
.top ul li a{color:#61646e;margin-left:8px;margin-right:7px;}
.top ul li a img{border:none;}
/*tu*/
.tu{width:1200px;height:60px;margin-left:14px;}
/*top1*/
.top1{width:1215px;height:100px;}
.top1 img{margin-left:12px;margin-top:15px;float:left;}

.top1_b{width:528px;height:58px;float:left;margin-left:139px;margin-top:20px;}
.sou{width:528px;height:32px;}
.sou_l{width:426px;height:28px;border:2px solid #ff3c3c;float:left;}
.sou_l select{width:70px;height:28px;background:#f8f8f8;border:none;font-size:12px;color:#333;float:left;}
.sou_l input{width:356px;height:28px;font-size:12px;color:#666;border:none;float:left;line-height:28px;}
.sou_r{width:98px;height:32px;background:#ff3c3c;float:left;color:#fff;text-align:center;line-height:32px;}
.top1_b ul{width:528px;height:26px;}
.top1_b ul li{font-size:12px;line-height:26px;margin-right:11px;float:left;}
.top1_b ul li a{color:#999;}

.top1_r{width:206px;height:50px;float:right;margin-top:15px;}
.top1_r a{width:60px;height:43px;backgorund:#fcfcfc;border:1px solid #f2f2f2;float:left;font-size:12px;color:#999;margin-top:5px;}
.top1_r img{border:none;margin-left:20px;margin-top:5px;}
.top1_r p{margin-top:24px;text-align:center;}
.top1_r .a3{width:82px;height:50px;background:#ff3c3c;color:#fff;margin-top:0px;border:none;}
.top1_r .a3 img{margin-left:10px;margin-top:20px;}
/*top2*/
.top2{width:1215px;height:34px;border-bottom:2px solid #ff3c3c;}
.p1{width:210px;height:34px;background:#ff3c3c;margin-left:13px;border:none;font-size:13px;color:#fff;font-weight:bold;margin-left:13px;line-height:34px;}
.p1 img{margin-left:60px;} 
.top2 ul li{float:left;line-height:34px;margin-left:18px;margin-right:24px;font-size:12px;font-weight:bold;}
.top2 .l1 a{color:#ff3c3c;}
.top2 .l2 a{color:#333;}
/*main1*/
.main1{width:1215px;height:398px;}

.main1_l{width:973px;height:398px;background:#016aa4;float:left;}
.main1_l ul{width:210px;height:398px;background:#c23131;margin-left:13px;float:left;}
.main1_l ul li{font-size:12px;line-height:34px;}
.main1_l ul li a{color:#fff;}
.main1_l ul .img1{border:none;margin-left:10px;margin-right:16px;}
.main1_l ul .img2{border:none;margin-left:60px;}
.main1_l .bj{width:750px;height:398px;float:left;background:red;}
.main1_l .bj img{border:none;}

.main1_r{width:240px;height:398px;border-right:1px solid #016aa4;float:right;}
.r1{width:240px;height:93px;border-bottom:1px solid #eee;}
.r1 img{margin-left:20px;margin-top:14px;}
.r1 p{font-size:12px;color:#333;text-align:center;line-height:20px;}
.r11{width:80px;height:94px;float:left;}
.r2{width:240px;height:82px;border-bottom:1px solid #eee;}
.r2 li{font-size:12px;line-height:22px;margin-left:20px;}
.r2 .fir{margin-top:8px;}
.r2 li a{color:#666;}
.r3{width:240px;height:32px;}
.r3 ul li{width:79px;height:31px;border-right:1px solid #eee;border-bottom:1px solid #eee;float:left;line-height:32px;text-align:center;font-size:12px;color:#333;background:#f7f7f7;}
.r3 ul .ll{border-right:none;}
.r3 ul a:hover li{background:#fff;border-bottom:none;color:#e60012;}
.r4{width:240px;height:181px;}
.r4 .text{margin-left:30px;padding-top:37px;font-size:12px;color:#333;line-height:24px;}
.text input{width:119px;height:22px;border:1px solid #eee;font-size:12px;color:#a9a9a9;line-height:22px;}
.sel{margin-left:54px;margin-top:10px;font-size:12px;color:#333;line-height:24px;}
.sel select{width:119px;height:22px;border:1px solid #eee;font-size:12px;color:#a9a9a9;line-height:22px;}
.las{margin-left:47px;font-size:12px;color:#333;line-height:24px;}
.las span{color:#e60012;}
.sub{width:78px;height:28px;background:#ff5a5a;border:1px solid #ff0000;margin-left:30px;margin-top:27px;}
/*main2*/
.main2{width:1215px;height:420px;border-top:20px solid #f9f9f9;border-left:13px solid #f9f9f9;}

.main21{width:198px;height:400px;margin-left:25px;float:left;margin-right:18px;float:left;}
.main21 h3{width:198px;height:50px;border-bottom:1px dashed #929292;line-height:50px;text-align:center;font-size:15px;}
.main21 .p21{font-size:13px;color:#363636;line-height:34px;margin-top:10px;}
.main21 .p22{width:168px;height:23px;background:#f13a3f;color:#fff;font-size:12px;line-height:23px;text-align:center;}
.main21 h4{line-height:34px;color:#f93d3c;margin-bottom:7px;}

.main22{width:240px;height:400px;border-right:1px solid #f9f9f9;float:left;}
.main22_u{width:240px;height:199px;border-bottom:1px solid #f9f9f9;}
.u1{font-size:16px;color:#333;text-align:center;line-height:50px;}
.u2{font-size:12px;color:#666;text-align:center;}
.u3{width:70px;height:18px;background:#ff3334;font-size:12px;color:#fff;line-height:18px;text-align:center;margin:12px auto 6px;}
.main22 img{margin-left:60px;}
.main22_d{width:240px;height:200px;}

.main23{width:240px;height:400px;float:left;}
.main23_u{width:240px;height:199px;border-bottom:1px solid #f9f9f9;}
.main23_u img{margin-left:65px;}
.main23_u .u3{width:108px;}
.main23_d{width:240px;height:200px;}
.main23_d img{margin-left:106px;}

.main24{width:240px;height:400px;background:#e4f7fe;float:left;}
.main24_u{width:197px;height:118px;margin:0 auto;}
.main24 h3{width:197px;height:50px;border-bottom:1px dashed #929292;line-height:50px;text-align:center;font-size:15px;}
.main24 .p21{font-size:13px;color:#363636;line-height:34px;margin-top:10px;}
.main24 .p22{width:197px;height:23px;background:#f13a3f;color:#fff;font-size:12px;line-height:23px;text-align:center;}

.main25{width:243px;height:400px;float:left;}
.main25_u img{margin-left:72px;}
.main25_d img{margin-left:92px;}
/*main3*/
.main3{width:1215px;height:80px;background:#f9f9f9;}
.main3 img{margin-left:13px;margin-top:20px;}
/*bod1*/
.bod1{width:1202px;height:415px;margin-left:13px;}
.bod1 .h1{width:1202px;height:52px;border-bottom:2px solid #ff4500;font-size:16px;color:#ff4500;line-height:72px;}
.bod1_d{width:1202px;height:361px;}
.bod1_d1{width:210px;height:361px;float:left;}
.bod1_d1 ul{padding-top:11px;}
.bod1_d1 ul li{width:84px;height:32px;border-bottom:1px dashed #ededed;float:left;font-size:12px;color:#333;line-height:32px;margin-left:15px;}
.bod1_d1 ul li a{color:#333;}
.bod1_d1 h4{font-size:12px;color:#ff4500;text-align:center;line-height:54px;}
.bod1_d1 p{font-size:12px;color:#999;text-align:center;margin-top:-15px;}
.bod1_d1 img{margin-left:39px;margin-top:64px;}
.bod1_d2{width:329px;height:361px;float:left;background:url(../images/jiu.jpg) no-repeat 30px 70px #770f64;}
.bod1_d2 h3{font-size:15px;color:#fff;line-height:20px;margin-left:30px;}
.bod1_d2 .jiu1{margin-top:27px;}
.bod1_d2 p{font-size:12px;color:#770f64;font-weight:bold;margin-left:39px;margin-top:6px;line-height:28px;}
.bod1_d3{width:219px;height:361px;border-left:1px solid #f9f9f9;float:left;}
.bod1_d3 .d31{font-size:12px;color:#000;text-align:center;margin-top:23px;}
.bod1_d31{width:219px;height:181px;border-bottom:1px solid #f9f9f9;background:url(../images/d31.jpg) no-repeat 40px 79px;}
.bod1_d3 .d32{font-size:11px;color:#999;text-align:center;margin-top:8px;}
.bod1_d32{width:219px;height:178px;background:url(../images/d32.jpg) no-repeat 50px 45px;}
.bod1_d4{width:219px;height:361px;border-left:1px solid #f9f9f9;float:left;background:red;}





