@charset "utf-8";
/* CSS Document */
*{margin:0;padding:0;}
.left{float:left;}
.right{float:right;}

/*tit*/
.tit{width:1350px;height:90px;background:#f5f5f5;}
.tit_l{width:260px;height:26px;padding-left:90px;padding-top:25px;float:left;}
.tit_l p{font-size:10px;color:#656262;line-height:22px;}
.tit h5{font-family:"微软雅黑";padding-left:1027px;line-height:90px;font-size:17px;font-weight:normal;letter-spacing:3px;}
/*main1*/
.main1{width:1170px;height:392px;margin:0 auto;}
.main1_l{width:810px;height:392px;float:left;}
.main1_r{width:345px;height:392px;float:left;}
.main1_r1{width:317px;height:46px;font-size:17px;line-height:46px;border-bottom:1px dashed #999;color:#ff9a38;font-weight:bold;text-align:center;margin-left:15px;}
.main1_r p input{width:200px;height:35px;border:1px solid #ccc;}
.main1_r p{text-align:center;font-size:12px;font-weight:bold;line-height:35px;}
.main1_r .p4{width:93px;font-size:12px;color:#ccc;line-height:35px;}
.main1_r span{font-size:11px;color:#333;line-height:37px;}
.main1_r a{font-size:11px;color:#00bfff;line-height:37px;}
.inpu{width:266px;height:30px;background:#fd8238;margin-left:38px;text-align:center;line-height:30px;color:#fff;font-size:13px;margin-top:20px;}
.boto{width:345px;height:29px;background:url(../images/main12.jpg) no-repeat;margin-top:41px;}
.main1_rr{float:right;width:15px;height:392px;background:#f7da58;}

/*main2*/
.main2{width:1170px;height:123px;margin:17px auto 15px;}
.main2_l{width:233px;height:122px;border-right:1px dashed #d4d4d4;float:left;text-align:center;}
.main2_l h3{font-size:19px;color:#424242;line-height:35px;margin-top:15px;}
.main2_l p{font-size:12px;color:#9f9f9f;line-height:20px;}
.last{border-right:none;}
/*main3*/
.main3{width:1350px;height:303px;background:#eee;}
.main3 img{padding-top:25px;}
.img1{padding-left:90px;padding-right:28px;}
.img3{padding-left:28px;padding-right:28px;}

.intro{width:1170px;height:50px;background:#eee;line-height:50px;margin:16px auto 30px;font-size:24px;color:#333;text-indent:48px;}
/*bottom*/
.bott{width:1170px;height:370px;margin:0 auto;}
.bott_l{width:772px;height:370px;float:left;}
.bott_l p{font-size:12px;font-weight:bold;line-height:26px;padding-left:37px;}
.bott_l1{width:772px;height:300px;}
.bott_l1 img{padding-left:39px;}
.bott_l1 ul{padding-top:8px;}
.bott_l1 ul li{list-style:none;}
.bott_l1 ul li a{text-decoration:none;font-size:13px;color:#333;line-height:36px;padding-left:13px;}
.bott_r{width:398px;height:370px;float:left;}
.p1{font-size:13px;color:#333;text-align:center;line-height:44px;}
.p1 span{font-size:18px;color:#ff9527;}
.p2{width:356px;height:28px;line-height:28px;background:#ccc;font-size:11px;color:#333;margin:0 auto;text-indent:24px;}
.p3{width:356px;height:60px;margin:0 auto;}
.p3 p{height:60px;width:117px;border-right:1px dashed #ccc;float:left;text-align:center;font-size:16px;color:#9999aa;line-height:26px;}
.p3 p span{font-size:15px;font-weight:bold;color:#333;}
.p3 img{padding-top:34px;}
/*footer*/
.foot{width:1350px;height:150px;border-top:1px solid #ccc;}
.foot img{padding-left:207px;padding-top:30px;float:left;}
.foot1{width:650px;height:60px;border-left:1px solid #a5a5a5;float:left;margin-left:40px;margin-top:43px;}
.foot1 p{padding-left:39px;font-size:11px;color:#a5a5a5;line-height:20px;}
.foot1 p a{text-decoration:none;}