@charset "utf-8";
/* CSS Document */

*{
	margin: 0;
	padding: 0;
}
html body{
	font-size: 12px;
	width: 100%;
}
a{
	text-decoration: none;
}
a:hover{
	color: red;
}
ul li{
	list-style: none;
}

/*fixed*/

.fixed{
	width:50px;
	height:370px;
	position: fixed;
	right:15px;
	top:30%;
	z-index: 9999;
}
.fixed li{
	width: 26px;
	height:26px;
	padding: 12px;
	border-radius: 5px;
	margin-bottom: 2px;
	background: #D71E00;
	color: #fff;
	cursor: pointer;
}
.fixed li:hover{
	background: #fff;
	color: #000;
	border: 1px solid #ccc;
}
.fixed .fixed-li-last{
	margin-top: 50px;
	display: none;
	background: #EF4165;
}
#fixedDiv{
	width: 200px;
	height: 300px;
	position: fixed;
	right:70px ;
	top: 30%;
	z-index: 9999;
	display: none;
}
#fixedDiv div{	
	display: none;
}
#fixedDiv .div1{
	width: 150px;
	height: 200px;
	padding: 26px;
	color: #666;
	border:1px solid #ccc;
	line-height: 20px;
	background: #fff;
	border-radius: 5px;
}
#fixedDiv .div2{
	width: 150px;
	height: 150px;
	margin-top:30px;
	padding: 26px;
	color: #666;
	border:1px solid #ccc;
	line-height: 20px;
	background: #fff;
	border-radius: 5px;
}
#fixedDiv .div3{
	width: 200px;
	height: 150px;
	margin-top:50px;	
	border:1px solid #ccc;
	background: #fff;
	border-radius: 5px;
}
#fixedDiv .div4{
	width: 200px;
	height: 150px;
	margin-top:80px;	
	border:1px solid #ccc;
	background: #fff;
	border-radius: 5px;
}
#fixedDiv .div5{
	width: 200px;
	height: 150px;
	margin-top:110px;	
	border:1px solid #ccc;
	background: #fff;
	border-radius: 5px;
}









/*top1*/
.top1{
	width: 100%;
	height: 32px;
	background: #f3f3f3;
}
.top1 a:hover{
	color: #FF0000;
}
.top_center{
	margin: 0 auto;
	width: 1220px;
	height: 32px;
}
.top_center p{
	display: inline-block;
	line-height: 32px;
	color: #666;
}
.p1{
	float: left;
}
.p2{
	float: right;
}
.p2 img{
	margin-left:12px;
	margin-right: 4px;
}
.top_center p a{
	text-decoration: none;
	color: #666;
}


/*top2*/
.top2{
	width: 100%;
	height: 142px;
	border-bottom: 2px solid #b1191a;
}
.top2_1{
	width: 1220px;
	height: 60px;
	margin:0 auto;
	padding-bottom: 22px;
	padding-top: 25px;
}
.top2_1 div{
	float: left;
}
.top2_1_center{
	width: 631px;
	height:60px;
	padding-left:50px;
	padding-right: 60px;
}
.top2_1_center input{
	width: 528px;
	height: 34px;
	border:3px solid #d61e00;
	margin-right:2px ;
}
.search{
	display: inline-block;
	width: 93px;
	height: 40px;
	font-size: 18px;
	line-height: 40px;
	text-align: center;
	background: #d61e00;
	color: #fff;
	text-decoration: none;
}

.top2_1_center ul li{
	list-style: none;
	margin-right: 11px;
	float: left;
	margin-top:12px ;
	color:#666;
}
.top2_1_center ul li a{
	color:#666;
}
.top2_1_center ul li a:hover{
	color:#d61e00;
}

.top2_1_center ul .li_first{
	font-weight: bold;
	margin-left: 5px;
	margin-right:18px;
	
}
.top2_1_center ul li .a_color1,.a_color2{
	color:#d61e00;
}
.img_center{
	margin:0 20px;
}
.top2_ul{
	width: 1220px;
	height: 35px;
	margin:0 auto;
}
.top2_2{
	width: 100%;
	height: 35px;	
}
.top2_ul li{
	float: left;

}
.top2_ul li a{
	height: 35px;
	display: inline-block;
	padding: 0 10px;
	color: #000;
	margin-left: 15px;
	font-size: 16px;
	line-height: 35px;
}
.top2_ul li a:hover{
	background:#aa1800 ;
	color: #fff;
}
.top2_ul li .things{
	width: 238px;
	height: 35px;
	color: #fff;	
	font-weight: bold;
	text-align: center;
	margin-left: 0;
	padding: 0;
	background: #aa1800;
}
.top2_ul .hot{
	display: inline-block;
	
}


.bottom1{
	width: 100%;
	height: 151px;
	border-bottom: 1px solid #ccc;
	border-top: 2px solid #d71e00;

}
.bottom1-1{
	width:1083px ;
	height:50px ;
	margin: 50px auto;
}
.bottom1 .bottom1-div{
	width: 243px;
	height: 50px;
	float: left;
	margin-right: 37px;	
}
.bottom1 .bottom1-div-last{
	margin-right: 0;
	
}
.bottom1 .bottom1-div .text{
	width: 175px;
	height: 50px;
	float: right;	
	background: url(../images/images/bottom1-2_03.png) no-repeat right center;
}
.bottom1 .bottom1-div-last .text{
	background: none;
	
}
.bottom1 .bottom1-div .text p{
	font-size: 15px;
}
.bottom1-p1{
	font-weight: bold;
	color: #000;
	line-height: 23px;
}
.bottom1-p2{
	color: #8f8f8f;
	line-height: 28px;
}
.bottom1 .bottom1-div .img{
	float: left;
	width: 60px;
	height: 50px;
	
}


.bottom2{
	width: 100%;
	height: 155px;
	border-bottom: 1px solid #ddd;
	border-top: 1px solid #ddd;
	
}
.bottom2-2{
	width:1130px ;
	height:110px ;
	margin: 20px auto;
}
.bottom2-2 div{
	width:119px ;
	height: 110px;
	float: left;
	margin-right: 34px;
	background: url(../images/images/bottom2-1_03.png) no-repeat right center;
}
.bottom2-2 div p{
	line-height: 18px;
}
.bottom2-2 div .bottom2-2-p1{
	line-height: 30px;
	color: #000;	
}
.bottom2-2 div p a{
	color: #999;
}
.bottom2-2 div p a:hover{
	text-decoration: underline;
}
.bottom2-2 .bottom2-2-last{
	
	width:207px ;
	margin-right:0;
	background: none;
}
.bottom2-2-last p{
	margin:8px 0;
}
.bottom2-2-last p span{
	font-size: 16px;
	font-weight: bold;
}
.bottom2-2-last .p-L a{
	display: block;
	width: 207px;
	height: 35px;
	background: #d71e00;
	color: #fff;
	font-size: 16px;
	text-align: center;
	line-height: 35px;
}
.bottom2-2-last .p-L a:hover{
	text-decoration: none;
}


.footer{
	color: #666;
	width: 515px;
	height: 200px;
	margin: 0 auto;
	line-height: 24px;
	background: url(../images/images/footer1.jpg) no-repeat center 30px;
}
.footer ul{
	padding-top: 85px;
	padding-left: 95px;
}
.footer ul li{
	padding: 0 8px 0 6px;
	background: url(../images/images/main4-1_03.png) no-repeat center right;
	float: left;
}
.footer ul .ul-last{
	background: none;
}
.footer  a{
	color: #666;
}