@charset "utf-8";
/* CSS Document */


*{
	margin: 0;
	padding: 0;
}
html body{
	font-size: 12px;
	width: 100%;
}
a{
	text-decoration: none;
}



.login-main-2{
	width:1020px ;
	height:345px ;
	margin: 40px auto 0;
	
}
.login-main-2 .login-main-ul .li-first{
	background: #ddd;
}
.login-main-2 .login-main-ul .li-second{
	background: #e00003;
}

.login-main-2 .div p{
	width: 580px;
	margin: 26px auto;
	text-align: center;
}
.login-main-2 .div .p-1{
	margin-top:60px ;
	font-size: 24px;
	font-weight: bold;
}
.login-main-2 .div .btn{
	margin-left:320px;
}










