@charset "utf-8";
/* CSS Document */


*{
	margin: 0;
	padding: 0;
}
html body{
	font-size: 12px;
	width: 100%;
}
a{
	text-decoration: none;
}


.login-main{
	width:1020px ;
	height:445px ;
	margin: 40px auto 0;
}
.login-main-ul{
	width: 930px;
	height: 40px;
	margin-top:40px;
	border-bottom: 1px solid #ccc;
}
.login-main-ul li{
	width:240px;
	height: 40px;
	background: #ddd;
	margin: 0 35px;
	float: left;
	font-size: 14px;
	text-align: center;
	line-height: 40px;
	border-radius: 10px;
	color: #fff;
}
.login-main-ul .li-first{
	background: #e00003;
}
.login-main .div{
	width:500px ;
	height: 266px;	
	margin: 0 auto;
	padding-top: 40px;
}
.login-main .div .input_1{
	width: 290px;
	height: 33px;
	border: 1px solid #ccc;
	margin: 12px 0;
}
.login-main .div .check{
	margin-left: 70px;
	margin-top: 20px;
}
 .div .btn{
	width:290px ;
	height: 33px;
	background: #e90004;
	color: #fff;
	text-align: center;
	line-height:33px ;
	border: none;
	margin-left:50px ;
	border-radius:5px ;
	margin-top:20px;
	font-weight: bold;
	font-size: 17px;
	cursor: pointer;
}
.login-main .div a{
	color: #005aa0;
}















