@charset "utf-8";
/* CSS Document */
*{margin:0;padding:0;}
ul li{list-style:none;}
a{text-decoration:none;outline:none;}
img{boder:none;}
.left{float:left;}
.right{float:right;}

/*top1*/
.top1{width:1349px;height:26px;border-top:3px solid #999;background:#000;font-size:11px;line-height:26px;}
.top1 p{color:#fff;margin-left:195px;}
.top1R{width:115px;height:26px;background:url(../images/top.jpg) no-repeat 56px 5px;margin-left:645px;}
.top1R a{color:#fff;margin:0 4px;}

/*top2*/
.top2{width:940px;height:46px;background:url(../images/top2.jpg) no-repeat left bottom;margin:32px 0 34px 198px;}
.top2L{width:308px;height:46px;background:url(../images/top3.jpg) no-repeat left bottom;margin-left:207px;padding-left:16px;}
.top2L h3{font-size:21px;color:#a31e23;line-height:30px;}
.top2L p{font-size:15px;color:#333436;}
.top2R{width:315px;height:46px;background:url(../images/top4.jpg) no-repeat left 2px;}
.top2R p{margin-left:47px;}
.top2R .t1{font-size:11px;color:#343235;}
.top2R .t2{font-size:20px;color:#a41d23;font-weight:bold;}

/*nav*/
.nav{width:1278px;height:48px;background:#202020;margin-left:30px;}
.nav li{float:left;border-left:1px solid #000;border-left:1px solid #383838;}
.nav n1{border-left:none;}
.nav n2{border-right:none;}
.nav li a{display:block;width:158px;height:48px;line-height:48px;font-size:12px;color:#d7dbda;text-align:center;}
.nav li a:hover{background:#a31e23;color:#ecfffe;}

/*banner*/
.banner{width:1349px;height:540px;background:url(../images/banner.jpg);}

/*main1*/
.main1{width:1349px;height:400px;}
.main1L{width:950px;height:400px;margin-left:207px;}
.main1L1{width:950px;height:64px;border-bottom:1px solid #ccc;padding-top:44px;text-align:center;background:url(../images/smain1.jpg) no-repeat center bottom;}
.main1L1 .m1{font-size:18px;color:#f6791f;line-height:30px;}
.main1L1 .m2{font-size:12px;color:#b1b2b4;}
.main1L dl{float:left;margin:37px 20px 0 0;}
.main1L .dlast{margin-right:0;}
.main1L dl dd{font-size:12px;color:#666865;text-align:center;line-height:23px;}
.main1R{width:25px;height:99px;background:url(../images/smain3.jpg) no-repeat #d6d6d6 6px 69px;margin-top:20px;}
.main1R p{font-size:12px;color:#656565;text-align:center;margin:9px 0 0 5px;}
.main2{width:1349px;height:695px;background:#f2f2f2;padding-top:31px;}
.main21{width:958px;height:361px;background:url(../images/smain4.jpg) no-repeat #fff right 34px;margin:0 auto;}
.main21 h3{font-size:16px;color:#a41f24;margin-left:20px;}
.main21 h3 span{font-size:16px;color:#cbcbcb;line-height:68px;}
.main21D{width:925px;height:266px;background:url(../images/smain5.jpg) no-repeat left 0;}
.main21D p{margin-left:396px;font-size:11px;color:#333;line-height:30px;}
.main21D .p1{font-size:14px;color:#a51e22;line-height:70px;}
 .p2{width:330px;height:37px;margin:20px 0 0 396px;background:url(../images/top4.jpg) no-repeat left 2px;}
.p2 p{margin-left:47px;font-size:11px;color:#343235;}
.main21D .p2 .pp3{font-size:20px;color:#a41d23;font-weight:bold;margin-top:-15px;}
.main22{width:930px;height:298px;margin:0 auto;padding-left:28px;}
.main22 p{font-size:17px;color:#a41d23;line-height:88px;}
.main22 dl{float:left;margin-right:10px;}
.main22 dl dd{text-align:center;font-size:11px;color:#656668;line-height:23px;}
.main3{width:980px;height:494px;margin:0 auto;}
.main3L{width:636px;height:494px;}
.main3L h3{font-size:16px;color:#a41f24;margin-left:20px;}
.main3L h3 span{font-size:16px;color:#cbcbcb;line-height:68px;}
.m31{width:636px;height:162px;background:url(../images/smain31.jpg) no-repeat left 0;margin-bottom:29px;}
.m31 p{font-size:12px;color:#656565;margin-left:242px;font-weight:bold;}
.m32{width:636px;height:210px;}
.m32 ul li{width:636px;height:30px;float:left;border-bottom:1px dashed #676767;line-height:30px;padding-left:37px;background:url(../images/smain32.jpg) no-repeat 14px center;}
.m32 ul li a{font-size:11px;color:#656766;}
.main3R{width:280px;height:494px;margin-left:20px;}
.main3R h3{font-size:16px;color:#a41f24;}
.main3R h3 span{font-size:16px;color:#cbcbcb;line-height:68px;}
.main3R ul{margin-left:15px;}
.main3R1{width:260px;height:102px;border-bottom:1px dashed #ccc;}
.main3R2{width:260px;height:153px;border-bottom:1px dashed #ccc;margin-top:13px;}
.main3R3{width:260px;height:90px;margin-top:18px;}
.main3R li{font-size:11px;color:#656766;line-height:21px;padding-left:32px;}
.las1{background:url(../images/smain33.jpg) no-repeat;margin-bottom:10px;}
.las2{background:url(../images/smain34.jpg) no-repeat;}


/*footer*/
.footer{width:1349px;height:126px;background:url(../images/foot1.jpg) no-repeat #343434 260px 48px;border-bottom:4px solid #666;}
.footer1{width:700px;height:60px;background:url(../images/foot2.jpg) no-repeat 0 36px;margin-left:470px;padding-top:35px;}
.footer1 p{margin-left:26px;font-size:11px;color:#a3a1a2;line-height:20px;}
.footer1 p a{color:#a3a1a2;}